body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
}

.icon-button {
  background: none !important;
  border: none !important;
}

.subtitle-text {
  font-size: 0.7rem !important;
}

.tags-text {
  font-size: 0.55rem !important;
  font-weight: 700;
}

.date-text {
  font-size: 0.8rem !important;
}
